/**
 * Loader Component Styles
 */

.loader {
  @include flex-center;
  
  &--small {
    .spinner {
      width: 20px;
      height: 20px;
      border-width: 2px;
    }
  }
  
  &--medium {
    .spinner {
      width: 40px;
      height: 40px;
      border-width: 3px;
    }
  }
  
  &--large {
    .spinner {
      width: 60px;
      height: 60px;
      border-width: 4px;
    }
  }
}

.spinner {
  border: 3px solid $color-gray-lighter;
  border-top-color: $color-primary;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include flex-center;
  background-color: rgba($color-white, 0.9);
  z-index: $z-index-modal;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

