# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage

# Environment variables
.env
.env.local
.env.production



# guidelines and other
Lendsqr_assessment_guidelines/*
TECHNICAL_DECISIONS.md
PROJECT_STATUS.md
.cursor/*
.cursor/rules/*
.cursor/rules/lendsqr-rules.mdc
Lendsqr-Frontent-Assessment.code-workspace