/**
 * StatCard Component Styles
 */

.statCard {
  @include card;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  transition: transform $transition-fast, box-shadow $transition-fast;
  
  &:hover {
    transform: translateY(-2px);
    box-shadow: $shadow-lg;
  }
}

.iconWrapper {
  width: 40px;
  height: 40px;
  border-radius: $radius-full;
  @include flex-center;
  
  &--pink {
    background-color: $color-stat-pink-bg;
    color: $color-stat-pink;
  }
  
  &--purple {
    background-color: $color-stat-purple-bg;
    color: $color-stat-purple;
  }
  
  &--orange {
    background-color: $color-stat-orange-bg;
    color: $color-stat-orange;
  }
  
  &--red {
    background-color: $color-stat-red-bg;
    color: $color-stat-red;
  }
}

.iconImage {
  width: 24px;
  height: 24px;
}

.label {
  @include label-text;
  color: $color-gray;
  font-size: $font-size-sm;
}

.value {
  font-size: $font-size-2xl;
  font-weight: $font-weight-semibold;
  color: $color-navy;
}

