/**
 * DashboardLayout Styles
 */

.dashboardLayout {
  display: flex;
  min-height: 100vh;
  background-color: $color-gray-bg;
}

.mainWrapper {
  flex: 1;
  margin-left: $sidebar-width;
  display: flex;
  flex-direction: column;
  
  @include mobile-only {
    margin-left: 0;
  }
}

.mainContent {
  flex: 1;
  margin-top: $header-height;
  padding: $spacing-2xl;
  
  @include mobile-only {
    margin-top: 70px; // Match reduced mobile header height
    padding: $spacing-md;
  }
}

